.cs-paragraph
{
   display: none;
}
.cs-header
{
   background-color: #2b333d;
   color: white;

}
.cs-content
{
   margin-top: 90px;
}

.cs-navbar
{
   margin-top: 20px;
   position: absolute;
   z-index: 20;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   z-index: 20;
}